export BPS_CLIENT_ID={{auth0_clientid}}
export BPS_CLIENT_SECRET={{auth0_clientsecret}}
export BPS_AUTH_MGT_CLIENT_ID={{auth0_mgt_clientid}}
export BPS_AUTH_MGT_CLIENT_SECRET={{auth0_mgt_clientsecret}}
export BPS_AUTH_ISSUER_URI={{auth0_auth_issuer_uri}}
export BPS_STATIC_PATH={{static_file_path}}
export BPS_DATASOURCE={{db_url}}
export BPS_DB_USER={{db_user}}
export BPS_DB_PASSWORD={{db_password}}
